@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

*:focus {
    outline: none;
}

.nav_box {
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.395);
    position: fixed;
    background-repeat: no-repeat;
}

.nav_bar {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin: auto;
}

.nav_logo {
    display: flex;
    padding: 15px 0px;
    align-items: center;
    font-size: 20px;
}

.nav_item nav {
    justify-items: center;
    padding: 12px 0px;

}

nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav ul li {
    padding: 5px 15px;
    font-size: 20px;
    color: rgb(255, 255, 255);

}

a {
    text-decoration: none;
}

.back_img_bg {
    background-image: url("../bg.jpg");
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    transform: translate3d(0px 0px 0px);
}

.img_container {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: center;
    margin: auto;

}

/* .bg_grn{
    width: 100%;
    height: 700px;
    position:relative;
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(55, 140, 63, 0.6));
} */

.cont_about {
    width: 50%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.imgbut img {
    border-radius: 75px;
    margin: 0px 0px 30px 0px;
}

.img_discrip {
    font-size: 22px;
    line-height: 60px;
}

.disc_nme {
    font-size: 40px;
}

.disc_nme_button button {
    padding: 15px 20px;
    margin: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
}

.socil_med {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: -30px 0px;
}

.socil_med_wd_ht {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.171);
    align-self: center;
}

.ins {
    background-color: rgba(255, 255, 255, 0.334);
    padding: 10px 20px;
    margin: 0px 5px;
    border-radius: 65px;
}

.std_dtl {
    width: 100%;
    display: flex;
    margin: auto;

    justify-content: center;

}

.std_dtl_skill {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;

}

.std_dtl_portfolio {
    width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
}

.about_dtl_cont {
    width: 70%;
    height: 300px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    margin: 90px 0px;
    display: flex;
    padding: 15px;

}

.cont_abt {
    padding: 10px;
    width: 50%;

}

.cont_abt p {
    padding: 10px;
}

.cont_abt_hed {
    font-size: 30px;
    font-weight: bolder;
    padding: 0 10px 17px 10px;
}

.bas_info {
    width: 50%;

    padding: 10px;
}

.bas_info_cnt {
    display: flex;
    flex-direction: row;
    padding: 15px;

}

.bas_cnt_hed {
    width: 30%;

}

.bas_cnt_hed_content {
    width: 40%;
}

.age {
    font-weight: bold;
    padding: 10px 0;
}

.age_dta {
    padding: 10px 0;
}

.bas_info_hed {
    font-size: 30px;
    font-weight: bolder;
}

.prof_skill_cont {
    width: 70%;
    height: 300px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.edu_cont {
    width: 70%;
    height: 250px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    margin-bottom: 90px;
    display: flex;


}

.portfolio_cont {
    width: 70%;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    margin: 20px auto;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.prof_skill_hed {
    width: 100%;
    font-weight: bolder;
    font-size: 30px;
    justify-content: center;

    display: flex;
    padding: 15px;


}

.prog_bar_dtl {
    width: 40%;
    margin: 20px;


}

.edu_dtl_cont {
    width: 70%;
}

.edu_dtl {
    width: 27%;
}

progress {
    width: 90%;
    background-color: rgb(131, 195, 131);
    height: 10px;



}

.prog_label {
    margin: 10px 0px;
}

.edu_info {
    width: 90%;
    height: 250px;

    background-color: green;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 85px 0;
    font-size: 20px;
}

.img_capt {
    width: 100%;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    margin: 20px;

}

.edu_dlt_cont_hed {
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}

iframe {
    border: 1px solid black;
    width: 100%;
    height: 700px;
    position: absolute;
    z-index: -1;

}

.foot_bar {
    width: 100%;
    height: 230px;

    display: flex;
    margin: 80px auto;




}

.contact {
    width: 40%;
    height: 600px;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
    margin: 30px auto;

    background-color: white;


}

.font_cont {
    width: 80%;
    height: 200px;

    margin: auto;
    align-items: center;
    text-align: center;
    line-height: 60px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.cont_align_bottm {
    width: 100%;
    display: flex;
    padding-top: 10px;
}

.contact_dtl {
    width: 95%;

    margin: auto;


}

.contact_hed {
    width: 100%;
    font-size: 25px;
    text-align: center;
    padding: 20px;

}

.contact_form {
    width: 45%;


}

.contact_info {
    width: 45%;
    margin-left: 20px;

}

.form_hed {
    font-weight: bold;
    padding-bottom: 10px;
}

.nme,
.subject,
.email {
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.407);
    border-radius: 15px;
    padding: 6px;
    margin-top: 20px;
}

.input_box {
    border: none;
}

textarea {
    margin-top: 20px;
    margin-left: 10px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.453);
}

.submit {
    display: flex;
    justify-content: center;

}

#sbt {
    margin-top: 20px;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    width: 25%;
    font-size: large;
    font-weight: 600;
    
    border-radius: 10px;

}

.contact_info_adres_hed,
.contact_info_phone_hed,
.contact_info_email_hed {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

.trnsf {
    width: 100%;
    height: 300px;

    position: absolute;
    z-index: 1;
    top: -1px;


}

.first_img {
    position: relative;
    z-index: 2;
}

.trnsf:hover{
    width: 100%;
    height: 300px;
   
    animation: potfolio_pic forwards 2s;
}
.img_dtl{
    display: none;
}



@keyframes potfolio_pic {
    from {
        width: 100%;
        height: 300px;
    }

    to {
        width: 58%;
        height: 170px;
        transform: scale(1.7);
        transform-origin: 0 0;
        background-color: rgba(27, 29, 29, 0.379);
        

    }
}

